.flex-container {
    display: flex;  
    justify-content: center;
}

.main-component {
    width: 600px;
}

.page-header {
    text-align: center;
    margin-bottom: 40px;
}

.logo-link {
    color: white;
    text-decoration: none;
}