<style>
  .flex-container {
    display: flex;
    justify-content: center;
  }

  .main-component {
    width: 600px;
  }

  .page-header {
    text-align: center;
    margin-bottom: 40px;
  }

  .logo-link {
    color: white;
    text-decoration: none;
  }

  .planet-card {
    padding: 15px;
    margin-bottom: 15px;
    color: white;
    border: 1px solid whitesmoke;
    border-radius: 12px;
  }

  .planet-card-header {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 5px;
  }

  .planet-card-description b {
    margin-bottom: 15px;
  }

  .planet-card-button {
    display: block;
    margin: 0 auto;
    width: 100%;
    background-color: rgba(65,246,60,255);
    margin-top: 10px;
    padding: 0;
    height: 25px;
    border: none;
    border-radius: 8px;
  }

</style>

<div class="flex-container">
  <div class="main-component">
    
    <h1 class="page-header"><a class="logo-link" href="">Star Wars App 🌌 🔫</a></h1>

    <div class="planet-list">
      <div *ngFor="let planet of planets" class="planet-card">
        <h2 class="planet-card-header">{{planet.name}} 🪐</h2>
        <div class="planet-card-description">
          <b>Population 👥: {{planet.population}}</b>  <br>
          <b>Terrain ⛰️: {{planet.terrain}} </b> <br>
          <b>Climate 🌱: {{planet.climate}}</b> <br>
          <b>Gravity 🚀: {{planet.gravity}}</b> <br>
          <b>Residents 🏠: {{planet.residents.length}}</b> <br>
        </div>
        <button class="planet-card-button" (click)="handleClick($event)">Full description 📃</button>
      </div>
    </div>
  </div>
</div>
